*{
    text-decoration: none;
    font-family:;
    color: wheat;
    
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}


nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    color: aqua;
    margin-right: 50px;
    margin-top: 30px;
    text-decoration-line: underline;
}


main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textos-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: -80px;

}

