@font-face {
    font-family: irresponsavel;
    src: url(fontes/Irresponsible\ Direction.ttf);
}


*{
    text-decoration: none;
    font-family:;   
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}


nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    margin-top: 30px;
    text-decoration-line: underline;
}

a{
    color: azure;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textos-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: -80px;
    font-family: irresponsavel;
    font-size: 35px;
    color: rgba(196, 216, 17, 0.89);

}

